.container{
    width: 98%;
    margin: 0 auto;
}
.oneBlock{
    border: 1px solid black;
}
p{
    display: inline-block;
    padding: 10px;
}
.time{
    display: block;
    font-size: 12px;
}
#inp-text{
    width: 550px;
    height: 200px;
    resize: none;
}
.auth{
    display: block;
    margin: 0;
    padding-bottom: 0;
}
.post{
    margin: 10px 0;
}
.second-div{
    padding: 20px 0;
}
#author{
    width: 180px;
    margin-left: 20px;
    margin-bottom: 20px;
}
#addPost{
    margin-top: 20px;
    height: 30px;
    width: 88px;
}
.main-div{
    width: 100%;
    border: 1px solid black;
}
.emptytrue{
    background-color: lavenderblush;
}